.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url(https://www.inycom.es/sites/default/files/conductores/cabecera/rentabilidad-punto-de-venta-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.input {
  font-size: 1rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}

.button {
  font-size: 1rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.logo {
  width: 320px;
  height: 132px;
  margin-bottom: 20px;
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1e90ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.device-info {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 5px;
  background-color: #000;
}

.error-mesage {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 5px;
  background-color: #000;
}

